@using QL_LopHocTrucTuyen.Models;

@model QL_LopHocTrucTuyen.Models.KhoaHoc

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12 pt-3 ps-3">
            <h3 class="py-3 px-2" >@Model.TenKhoaHoc</h3>  @* Hiển thị tên khoá học *@

            @* Hiển thị các chương hiện có *@
            <div id="chuongContainer">
                @{
                    List<Chuong> chuongs = Model.Chuongs.OrderBy(t => t.ThuTu).ToList();
                    foreach (Chuong chuong in chuongs)
                    {
                        <div class="accordion mb-2" id="accordion_@chuong.MaChuong">
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading_@chuong.MaChuong">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@chuong.MaChuong">
                                        @chuong.TenChuong
                                    </button>
                                </h2>
                                <div id="collapse_@chuong.MaChuong" class="accordion-collapse collapse" data-bs-parent="#accordion_@chuong.MaChuong">
                                    <div class="accordion-body">
                                        <div class="py-2 px-1 mb-2" style="font-style:italic;">
                                            <p>"@chuong.MoTa"</p>
                                        </div>

                                        <div class="my-3 d-flex justify-content-end">
                                            <a href="javascript:void(0);" onclick="openModal('@Url.Action("SuaChuong", new { machuong = @chuong.MaChuong })')" class="btn btn-info btn-sm mx-2">Chỉnh sửa chương</a>

                                            <a href="javascript:void(0);" onclick="openModal('@Url.Action("XoaChuong", new { machuong = @chuong.MaChuong })')" class="btn btn-danger btn-sm">Xoá chương</a>
                                        </div>

                                        <ul class="list-unstyled">
                                            @{
                                                List<BaiGiang> baigiangs = chuong.BaiGiangs.OrderBy(t => t.ThuTu).ToList();
                                                foreach (BaiGiang baiHoc in baigiangs)
                                                {
                                                    <li class="border rounded-1 px-3 py-2 mb-2 d-flex justify-content-between align-items-center">
                                                        <!-- Tên bài học ở đầu -->
                                                        <span>@baiHoc.TenBaiGiang</span>
    
                                                        <!-- Nhóm các nút ở cuối thẻ li -->
                                                        <div class="d-flex gap-2">
                                                            @if (!string.IsNullOrEmpty(baiHoc.NoiDung) || !string.IsNullOrEmpty(baiHoc.URL) || !string.IsNullOrEmpty(baiHoc.FileVideo))
                                                            {
                                                                <a href="/GiangVien/XemBaiGiang/?mabg=@baiHoc.MaBaiGiang" class="btn btn-primary btn-sm">Xem bài giảng</a>
                                                            }
                                                            <a href="/GiangVien/SuaBaiGiang/?mabg=@baiHoc.MaBaiGiang" class="btn btn-secondary btn-sm mx-2">Chỉnh sửa</a>
                                                            <a href="javascript:void(0);" onclick="openModal('@Url.Action("XoaBaiGiang", new { mabg = @baiHoc.MaBaiGiang })')" class="btn btn-danger btn-sm">Xoá</a>
                                                        </div>
                                                    </li>

                                                }
                                                
                                                List<BaiTap> baitaps = chuong.BaiTaps.OrderBy(t => t.ThuTu).ToList();
                                                foreach (BaiTap bt in baitaps)
                                                {
                                                    <li class="border border-primary rounded-1 px-3 py-2 mb-2 d-flex justify-content-between align-items-center">
                                                        
                                                        <span class="text-primary" >@bt.TenBaiTap</span>
    
                                                        <div class="d-flex gap-2">
                                                            @if (!string.IsNullOrEmpty(bt.FileUpload))
                                                            {
                                                                <a href="/GiangVien/XemBaiTap/?mabt=@bt.MaBaiTap" class="btn btn-primary btn-sm">Xem bài tập</a>
                                                            }
                                                            <a href="/GiangVien/SuaBaiTap/?mabt=@bt.MaBaiTap" class="btn btn-secondary btn-sm mx-2">Chỉnh sửa</a>
                                                            <a href="javascript:void(0);" onclick="openModal('@Url.Action("XoaBaiTap", new { mabt = @bt.MaBaiTap})')" class="btn btn-danger btn-sm">Xoá</a>
                                                        </div>
                                                    </li>

                                                }
                                            }


                                        </ul>

                                        @* Nút tạo bài học mới cho chương *@
                                        <button class="btn btn-primary btn-sm" id="ThemBaiHoc_@chuong.MaChuong" onclick="showAddBaiHocForm('@chuong.MaChuong')">Thêm Bài học</button>

                                        @* Form thêm bài học *@
                                        <div id="formAddBaiHoc_@chuong.MaChuong" class="my-2" style="display: none;">
                                            <form action="/GiangVien/TaoBaiGiang/?machuong=@chuong.MaChuong" method="post">
                                                <input type="text" id="baiHocName_@chuong.MaChuong" name="TenBaiGiang" class="form-control" placeholder="Tên Bài học" required />
                                                <input type="hidden" name="ThuTu" value="@chuong.BaiGiangs.Count" />
                                                <button onclick="addBaiHoc('@chuong.MaChuong')" class="btn btn-success btn-sm mt-1" type="submit">Tạo</button>
                                                <button class="btn btn-secondary btn-sm mt-1" onclick="hideAddBaiHocForm(''@chuong.MaChuong')">Huỷ</button>
                                            </form>
                                            
                                        </div>

                                        @* Nút tạo bài tập mới cho chương *@
                                        <button class="btn btn-success btn-sm" id="ThemBaiTap_@chuong.MaChuong" onclick="showThemBaiTapForm('@chuong.MaChuong')">Thêm bài tập</button>
                                        @* Form thêm bài tập *@
                                        <div id="ThemBaiTapForm_@chuong.MaChuong" class="my-2" style="display: none;">
                                            <form action="/GiangVien/TaoBaiTap/?machuong=@chuong.MaChuong" method="post">
                                                <input type="text" id="TenBaiTap_@chuong.MaChuong" name="TenBaiTap" class="form-control" placeholder="Tên bài tập" required />
                                                <input type="hidden" name="ThuTu" value="@chuong.BaiTaps.Count" />
                                                <button onclick="addBaiTap('@chuong.MaChuong')" class="btn btn-success btn-sm mt-1" type="submit">Tạo</button>
                                                <button class="btn btn-secondary btn-sm mt-1" onclick="hideThemBaiTapForm('@chuong.MaChuong')">Huỷ</button>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>

    @* Nút tạo chương mới *@
    <div class="row">
        <div class="col-12">
            <div class="form-control mt-3" id="addChuongForm" style="display: none;">
                <form action="/GiangVien/TaoChuong/?makh=@Model.MaKhoaHoc" method="post">
                    <input type="text" name="TenChuong" class="form-control" placeholder="Tên Chương" required />
                    <input type="hidden" name="ThuTu" value="@Model.Chuongs.Count" />
                    <textarea name="MoTa" class="form-control mt-2" placeholder="Mô tả của chương ... (Giới hạn 255 kí tự)" rows="3"></textarea>
                    <div class="mt-2"> 
                        <button class="btn btn-dark mr-3" type="submit">Tạo Chương</button>
                        <button class="btn btn-secondary" type="button" onclick="cancelAddChuong()">Huỷ</button>
                    </div>
                </form>
            </div>


        </div>
    </div>

    @* Nút thêm chương *@
    <!-- Nút thêm chương -->
    <button class="btn btn-success my-3 px-3 py-2"
            id="ThemChuong"
            onclick="showAddChuongForm()">
        Thêm chương
    </button>


</div>

<script>
    function showAddChuongForm() {
        document.getElementById("addChuongForm").style.display = "block";
        document.getElementById("ThemChuong").style.display = "none";
    }

    function cancelAddChuong() {
        document.getElementById("addChuongForm").style.display = "none";
        document.getElementById("ThemChuong").style.display = "inline-block";
    }

    function showAddBaiHocForm(chuongId) {
        document.getElementById('formAddBaiHoc_' + chuongId).style.display = 'block';
        document.getElementById('ThemBaiHoc_' + chuongId).style.display = 'none';
    }

    function hideAddBaiHocForm(chuongId) {
        document.getElementById('formAddBaiHoc_' + chuongId).style.display = 'none';
        document.getElementById('ThemBaiHoc_' + chuongId).style.display = 'inline-block';
    }

    function addBaiHoc(chuongId) {
        const baiHocName = document.getElementById('baiHocName_' + chuongId).value;
    
    }


    function showThemBaiTapForm(chuongId) {
        document.getElementById('ThemBaiTapForm_' + chuongId).style.display = 'block';
        document.getElementById('ThemBaiTap_' + chuongId).style.display = 'none';
    }

    function hideThemBaiTapForm(chuongId) {
        document.getElementById('ThemBaiTapForm_' + chuongId).style.display = 'none';
        document.getElementById('ThemBaiTap_' + chuongId).style.display = 'inline-block';
    }

    function addBaiHoc(chuongId) {
        const baiHocName = document.getElementById('TenBaiTap_' + chuongId).value;

    }

</script>
