@model QL_LopHocTrucTuyen.Models.HocVien
@using QL_LopHocTrucTuyen.Models;
@{
    ViewBag.Title = "ChiTietHocVien";
    Layout = "~/Views/Shared/_LayoutQuanTriVien.cshtml";
}


<div>
    <div style="padding:8px 20px;">
        <div class="d-flex gap-2 mt-2">
            <i style="color: #343a40" class="fa-solid fa-house"></i>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #343a40">Danh sách Học viên</span>
            <i class="fa-solid fa-angle-right"></i>
            <span style="color: #000; ">Thông tin Học viên</span>
        </div>
        <h1 style="font-size: 22px; font-weight: 600; color: #000; margin-top: 20px;">Thông tin Học viên</h1>
        <div style="background-color: #fff; border-radius: 5px; width: 100%; margin-top: 20px; padding: 8px 16px 25px; border: 1px solid #dadada; width: 100%;">
            <form class="d-flex myForm3" method="post" action="/QuanTriVien/ChiTietHocVien" enctype="multipart/form-data">
                <div style="width: 60%">
                    <div style="width: 100%">
                        <span style="padding: 8px 0 16px; display: block">Thông tin tài khoản:</span>
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="MaQTV">Mã học viên: </label>
                                @Html.TextBoxFor(model => model.MaHocVien, new { @readonly = "readonly", @id = "MaQTV", @class = "form-control mt-2" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errTenLoai"></span>
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="MaNguoiDung">Mã người dùng: </label>
                                @Html.TextBoxFor(model => model.NguoiDung.MaNguoiDung, new { @readonly = "readonly", @id = "MaNguoiDung", @class = "form-control mt-2" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errTenLoai"></span>
                            </div>
                        </div>
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%;">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="TenDangNhap">Tên đăng nhập: </label>
                                @Html.TextBoxFor(model => model.NguoiDung.TenDangNhap, new { @readonly = "readonly", @id = "TenDangNhap", @class = "form-control mt-2" })
                            </div>
                            <div style="width: 100%;">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="MatKhau">Mật khẩu: </label>
                                <div style="position: relative">
                                    @Html.TextBoxFor(model => model.NguoiDung.MatKhau, new { @readonly = "readonly", @type = "password", @id = "MatKhau", @class = "form-control mt-2", placeholder = "Nhập mật khẩu" })
                                    <button type="button" style="position: absolute; right: 8px; top: 12px;" onclick="handleClickChangeEye('MatKhau')">
                                        <i class="iconEye fa-solid fa-eye-slash"></i>
                                    </button>
                                </div>
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errMatKhau"></span>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%">
                        <span style="padding: 8px 0 16px; display: block">Thông tin người dùng:</span>
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="Email">Email: </label>
                                @Html.TextBoxFor(model => model.NguoiDung.Email, new { @readonly = "readonly", @id = "Email", @class = "form-control mt-2", placeholder = "Nhập email" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errEmail"></span>
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="HoTen">Họ tên: </label>
                                @Html.TextBoxFor(model => model.HoTen, new { @readonly = "readonly", @id = "HoTen", @class = "form-control mt-2", placeholder = "Nhập họ tên" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errHoTen"></span>
                             </div>
                        </div>
                    </div>
                    <div style="width: 100%">
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputNhomND">Ngày tạo tài khoản:</label>
                                <input readonly type="text" value="@Model.NguoiDung.NgayTao.ToString("dd/MM/yyyy")" id="inputNhomND" class="form-control mt-2" />
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputStatus">Trạng thái:</label>
                                <select disabled id="TrangThai" name="NguoiDung.TrangThai" class="form-control mt-2">
                                    <option value="Hoạt động" @(Model.NguoiDung.TrangThai == "Hoạt động" ? "selected" : "")>Hoạt động</option>
                                    <option value="Đã khoá" @(Model.NguoiDung.TrangThai == "Đã khoá" ? "selected" : "")>Đã khoá</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px; width: 100%">
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="inputEmail">Giới tính:</label>
                                <select disabled id="GioiTinh" name="GioiTinh" class="form-control mt-2">
                                    <option value="Nam" @(Model.GioiTinh == "Nam" ? "selected" : "")>Nam</option>
                                    <option value="Nữ" @(Model.GioiTinh == "Nữ" ? "selected" : "")>Nữ</option>
                                </select>
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="NgaySinh">Ngày sinh:</label>
                                @Html.TextBoxFor(model => model.NgaySinh, new
                               {
                                   @readonly = "readonly",
                                   @type = "date",
                                   @id = "NgaySinh",
                                   @class = "form-control mt-2",
                                   placeholder = "Chọn ngày sinh",
                                   Value = Model.NgaySinh.HasValue ? Model.NgaySinh.Value.ToString("yyyy-MM-dd") : null
                               })
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px; width: 100%">
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="SoDienThoai">Số điện thoại:</label>
                                @Html.TextBoxFor(model => model.SoDienThoai, new { @readonly = "readonly", @id = "SoDienThoai", @class = "form-control mt-2", placeholder = "Nhập số điện thoại" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errSoDienThoai"></span>
                             </div>
                        </div>
                    </div>
                    <div style="width: 100%">
                        <div style="margin-left: 10px" class="d-flex justify-content-between gap-4">
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="DiaChi">Địa chỉ:</label>
                                @Html.TextBoxFor(model => model.DiaChi, new { @readonly = "readonly", @id = "DiaChi", @class = "form-control mt-2", placeholder = "Nhập địa chỉ" })
                                <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errDiaChi"></span>
                            </div>
                            <div style="width: 100%">
                                <label style="font-size: 15px; color: #374151; font-weight: 500;" for="NgayGiaNhap">Ngày đăng ký:</label>
                                @Html.TextBoxFor(model => model.NgayDangKy, new
                                  {
                                      @readonly = "true",
                                      @type = "date",
                                      @id = "NgayDangKy",
                                      @class = "form-control mt-2",
                                      Value = Model.NgayDangKy.HasValue ? Model.NgayDangKy.Value.ToString("yyyy-MM-dd") : null
                                  })
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 20px; width: 100%" class="d-flex justify-content-end gap-2">
                        <button id="btnSua" type="button" class="btn btn-primary">Sửa</button>
                        <button id="btnLuu" type="submit" disabled class="btn btn-success">Lưu</button>
                    </div>
                </div>
                <div style="margin: 20px 0 20px 40px; width: 2px; height: 350px; background-color: #dadada"></div>
                <div style="margin: 70px auto 0;">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        <img id="avatarPreview" src="~/Content/HinhAnh/Avatar/@Model.NguoiDung.AnhDaiDien" alt="avatar preview" style="width: 150px; object-fit: cover; height: 150px; border-radius: 999px;" />
                        <span style="font-size: 15px; color: #374151; font-weight: 500; display: block; text-align: center; margin-top: 10px;">Avatar người dùng</span>
                        <input name="AnhDaiDien" id="Avatar" class="mt-2" style="display: none;" type="file" accept="image/*" />
                        <label for="Avatar" id="label" class="custom-file-upload mt-2" style="opacity: 0.5; pointer-events: none; cursor: not-allowed; padding: 10px 20px; background-color: #0077b6; color: white; border-radius: 5px;">
                            Chọn tập tin
                        </label>
                        <span style="min-height: 20px; display: inline-block; color: red; font-size: 14px; margin-top: 5px;" class="errAvatar"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="mt-2">
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">
                    @TempData["ErrorMessage"]
                </div>
            }
        </div>
    </div>
</div>
